<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form action="/home" method="POST">
    <p>Home page</p>
    <p><button class="registration" id="regBtn">New User Register</button></p>
    <p><button class="login" id="loginBtn">Login</button></p>


   </form> 
</body>
</html>